# Ecommerce Purchases Exercise

Purchases made up data. 

** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame. **

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('04-Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [4]:
len(list(df.columns))

14

In [5]:
df.index

RangeIndex(start=0, stop=10000, step=1)

** What is the average Purchase Price? **

In [6]:
df['Purchase Price'].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [7]:
df.loc[df['Purchase Price'].idxmin()]

Address             332 Jones Parkways\nEast Katherineville, GA 64230
Lot                                                             39 GT
AM or PM                                                           AM
Browser Info        Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9...
Company                                         Lyons, Diaz and Clark
Credit Card                                          4204500444841766
CC Exp Date                                                     01/18
CC Security Code                                                   38
CC Provider                                             VISA 16 digit
Email                                            jennifer11@baker.com
Job                                              Biomedical scientist
IP Address                                             223.47.177.174
Language                                                           it
Purchase Price                                                      0
Name: 2876, dtype: object

In [8]:
df['Purchase Price'].max()

99.99

In [9]:
df['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [10]:
sum(df['Language'].apply(lambda i:'en' in i.lower()))

1098

** How many people have the job title of "Lawyer" ? **

In [11]:
sum(df['Job'].apply(lambda i: 'lawyer' in i.lower()))

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [12]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [13]:
df['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [14]:
df[df['Lot'].apply(lambda i: '90 wt' in i.lower())]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [15]:
cc = 4926535242672853
df[df['Credit Card']==cc]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [16]:
df[(df['CC Provider'].apply(lambda i: 'american express' in i.lower())) & (df['Purchase Price'].apply(lambda i: i>95))].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** How many people have a credit card that expires in 2025? **

In [17]:
sum(df['CC Exp Date'].apply(lambda i: i.split("/")[1])=='25')

1033

** What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [18]:
df['Email Provider'] = df['Email'].apply(lambda i: i.split("@")[1])
df['Email Provider'].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email Provider, dtype: int64